/* Apply user-select none to all elements to prevent text selection */
* {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Standard syntax */
    -webkit-touch-callout: none; /* iOS Safari */
    color-scheme: light only;
}

img {
    pointer-events: none;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}

#logo {
    height: 2em;
}

#input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fileInput {
    width: 100%;
    max-width: 250px;
}

#dimensions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#premade-templates div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#saved-layouts,
#premade-templates,
#input-dimensions,
#input-pgm,
#input-json {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
}

.layout-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

textarea {
    resize: vertical;
    width: 80%;
}

.layout-item button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #ccc;
}

#layoutTitle,
#roomStateLabel {
    text-align: center;
    margin: 10px;
}

.grey-out {
    /* color: #1010104d; */
    opacity: 0.5;
}

#legend {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px 0 5px;
}

.mode-logo {
    position: relative;
    color: white;
    border: 2px solid transparent; /* Transparent border for inactive state */
    max-height: 2em;
    max-width: 2em;
}

.mode-logo.active-mode {
    border-color: green; /* Green border replaces transparent border in active mode */
    border-radius: 5px;
}

.mode-logo-image {
    max-height: 100%;
    max-width: 100%;
    padding: 0.1em;
}

.mode-logo-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mode-logo-image,
.mode-logo-text {
    display: block;
    margin: 0 auto;
}

.zoom-controls {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    margin: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.zoom-button {
    padding: 0px;
    margin: 1px;
    width: 40px;
    height: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 100px);
    padding: 10px;
    overflow-x: auto;
}

.grid-item {
    border: 1px solid black;
    text-align: center;
    aspect-ratio: 1 / 1; /* Ensures items are square */
    overflow: hidden;
}

.black {
    background-color: #000; /* Black grid items */
}

.chair-container-in-grid {
    /* Chair with text in grid */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.chair-in-grid {
    /* Chair image in grid */
    width: 90%;
    height: 90%;
    object-fit: contain;
    transition: transform 0.1s ease; /* Rotation transition */
    transform-origin: center; /* Centered rotation */
}

.chair-text-in-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.preview-chair-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.preview-chair-in-grid {
    width: 90%;
    height: 90%;
    object-fit: contain;
    opacity: 0.5; /* Make the preview chair faded */
}

.highlighted-red {
    border-color: #b56;
    background-color: rgba(187, 85, 102, 0.7);
}

.highlighted-yellow {
    border-color: #da3;
    background-color: rgba(221, 170, 51, 0.7);
}

.highlighted-blue {
    border-color: #048;
    background-color: rgba(0, 68, 136, 0.7);
}

.robot-in-grid {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.preview-robot-in-grid {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.5;
}

.chair-container-in-grid:hover,
.mode-logo:hover {
    cursor: pointer;
}

#rotateControlPanel {
    position: fixed;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-width: 300px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#rotationRangeDegreeDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#rotationRange {
    width: 70%;
    margin-right: 10px;
}

#rotationButton {
    width: 60%;
}

#stack-counter {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
}

#stack-counter p {
    margin: 0;
}

#initiateRobot {
    width: 90%;
    max-width: 500px;
}

#buttons-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin: 20px;
}

.grid-buttons {
    min-height: 5em;
}

#grid-buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    max-width: 500px;
}

#tutorial {
    width: 100%;
    margin: auto auto 200px auto;
    text-align: center;
}

.tutorial-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#tutorialImage {
    max-width: 100%;
    margin: 20px 0;
}

#tutorialImages {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: auto;
}

#tutorialText {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.tutorial-image {
    max-width: 100%; /* Ensure images do not exceed the content width */
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px auto;
    max-height: 60vh;
}

.tutorial-overlay {
    /* Other styles remain unchanged */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center;
}

.tutorial-content {
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    width: 90%; /* Fixed width */
    height: 90%; /* Fixed height */
    overflow-y: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure space between content and navigation */
}

.tutorial-header {
    display: flex;
    justify-content: center; /* Center children */
    align-items: center;
    position: relative; /* Needed for absolute positioning of the close button */
    width: 100%;
}

#tutorialTitle {
    text-align: center;
    font-size: 1.5em; /* Adjust font size as needed */
}

#closeTutorial {
    position: absolute; /* Position the button absolutely within the header */
    right: 20px; /* Adjust based on your layout */
    top: 50%;
    transform: translateY(-50%); /* Center the button vertically */
    cursor: pointer;
}

.tutorial-main-content {
    overflow-y: auto;
    flex-grow: 1; /* Allow this section to take up available space */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.tutorial-main-content::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.tutorial-navigation {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}

.tutorial-nav-button {
    flex: 1; /* Equal width for all buttons */
    max-width: 30px;
    white-space: nowrap; /* Prevent text breaking */
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorial-nav-button.active {
    border-color: #048;
    background-color: rgba(0, 68, 136, 0.7);
    color: white;
}

.hidden {
    display: none;
}

/* For smaller screens */
@media (max-width: 430px) {
    .mode-logo-image {
        font-size: 0.7em;
    }
    .mode-logo-text {
        font-size: 0.9em;
    }
    .label {
        font-size: 0.7em;
    }
    .zoom-button {
        width: 30px;
        height: 30px;
        font-size: 1em;
    }
}

#moveControls.show {
    display: grid;
    position: fixed;
    bottom: 90px;
    left: 50%;
    margin: auto;
    width: 90%;
    max-width: 300px;
    transform: translateX(-50%);
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 5px; /* Minimal gap for visual separation */
    z-index: 1000;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#toggleSelectMode {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#moveUp {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#moveLeft {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#moveRight {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#moveDown {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
