/* Apply user-select none to all elements to prevent text selection */
* {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Standard syntax */
    -webkit-touch-callout: none; /* iOS Safari */
    color-scheme: light only;
}

img {
    pointer-events: none;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}

#logo {
    height: 2em;
}

#input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input h2 {
    margin-top: 20px;
}

#dimensions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#legend {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px 0 5px;
}

.mode-logo {
    position: relative;
    color: white;
    border: 2px solid transparent; /* Transparent border for inactive state */
    max-height: 2em;
    max-width: 2em;
}

.mode-logo.active-mode {
    border-color: green; /* Green border replaces transparent border in active mode */
    border-radius: 5px;
}

.mode-logo-image {
    max-height: 100%;
    max-width: 100%;
    padding: 0.1em;
}

.mode-logo-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mode-logo-image,
.mode-logo-text {
    display: block;
    margin: 0 auto;
}

.zoom-controls {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 3px;
    margin: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.zoom-button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px;
    margin: 1px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
}

.zoom-button:hover {
    background-color: #ccc;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 100px);
    padding: 10px;
    overflow-x: auto;
}

.grid-item {
    border: 1px solid black;
    text-align: center;
    aspect-ratio: 1 / 1; /* Ensures items are square */
    overflow: hidden;
}

.black {
    background-color: #000; /* Black grid items */
}

.chair-container-in-grid {
    /* Chair with text in grid */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.chair-in-grid {
    /* Chair image in grid */
    width: 90%;
    height: 90%;
    object-fit: contain;
    transition: transform 0.1s ease; /* Rotation transition */
    transform-origin: center; /* Centered rotation */
}

.chair-text-in-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.preview-chair-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.preview-chair-in-grid {
    width: 90%;
    height: 90%;
    object-fit: contain;
    opacity: 0.5; /* Make the preview chair faded */
}

.highlighted-yellow {
    border-color: #da3;
    background-color: rgba(221, 170, 51, 0.7);
}

.highlighted-blue {
    border-color: #048;
    background-color: rgba(0, 68, 136, 0.7);
}

.robot-in-grid {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.chair-container-in-grid:hover,
.mode-logo:hover {
    cursor: pointer;
}

#rotateControlPanel {
    position: fixed;
    bottom: 100px;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#rotationRangeDegreeDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#rotationRange {
    width: 70%;
    margin-right: 10px;
}

#rotationButton {
    width: 60%;
}

.grid-buttons {
    width: 25%;
}

#send-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto 170px auto;
}

/* For smaller screens */
@media (max-width: 430px) {
    .mode-logo-image {
        font-size: 0.7em;
    }
    .mode-logo-text {
        font-size: 0.9em;
    }
    .label {
        font-size: 0.7em;
    }
    .zoom-button {
        width: 30px;
        height: 30px;
        font-size: 1em;
    }
}
