#logo {
    height: 2em;
}

#input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#input h2 {
    margin-top: 20px;
}

#dimensions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#legend {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.label {
    margin-right: 0.5em;
}

.mode-logo {
    position: relative;
    text-align: center;
    color: white;
    margin-right: 0.25em;
    border: 2px solid transparent; /* Transparent border for inactive state */
    height: 2em;
}

.mode-logo.active-mode {
    border-color: green; /* Green border replaces transparent border in active mode */
    border-radius: 5px;
}

.mode-logo-image {
    height: 100%;
    width: 100%;
    padding: 0.1em;
}

.mode-logo-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.zoom-controls {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.zoom-button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 2px;
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
}

.zoom-button:hover {
    background-color: #ccc;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 100px);
    padding: 10px;
    overflow-x: auto;
}

.grid-item {
    border: 1px solid black;
    text-align: center;
    aspect-ratio: 1 / 1; /* Ensures items are square */
    overflow: hidden;
}

.black {
    background-color: #000; /* Black grid items */
}

.chair-container-in-grid {
    /* Chair with text in grid */
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    user-select: none;
}

.chair-in-grid {
    /* Chair image in grid */
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease; /* Rotation transition */
    transform-origin: center; /* Centered rotation */
}

.chair-text-in-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    pointer-events: none;
}

.selected-in-grid {
    /* Selected stack */
    border: 2px solid yellow;
    background-color: rgba(255, 255, 0, 0.2);
}

.robot-in-grid {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}

.chair-container-in-grid:hover,
.robot-in-grid:hover,
.mode-logo:hover {
    cursor: pointer;
}

#send-json {
    margin: auto;
    width: 25%;
    display: block;
}

#send-div {
    margin: 20px auto 55px auto;
}

/* For smaller screens */
@media (max-width: 580px) {
    .mode-logo {
        font-size: 0.75em;
    }
    .mode-logo-text {
        font-size: 0.75em;
    }
    .label {
        font-size: 0.75em;
    }
}

@media (max-width: 470px) {
    .mode-logo {
        font-size: 0.57em;
    }
    .mode-logo-text {
        font-size: 0.8em;
    }
    .label {
        font-size: 0.57em;
    }

    .zoom-button {
        width: 30px;
        height: 30px;
        font-size: 1em;
    }
}

@media (max-width: 360px) {
    .mode-logo {
        font-size: 0.5em;
    }
    .mode-logo-text {
        font-size: 0.9em;
    }
    .label {
        font-size: 0.5em;
    }
    .zoom-button {
        width: 30px;
        height: 30px;
        font-size: 1em;
    }
}
